<ion-view view-title="Agenda">
  <ion-content delegate-handle="agendaScrollDelegate">

    <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Monday</div>
      <div class="item item-thumbnail-left item-text-wrap">
          <img src="img/inverse.png">
          <h2>INVERSE/FUNCTIONS </h2>
          <p>Review of Inverse Functions, which were covered before break.</p>
          <p> <img src="img/3.png" style="width:2.5%; height:2.5%"> </p>
      </div>
 </div>

<div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Tuesday</div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/domran.png">
            <h2>INVERSE FUNCTIONS - DOMAIN AND RANGE </h2>
            <p>Finding the domain and range (codomain) of inverse functions and evaluating whether a function has an inverse that is ALSO a function.</p>
            <p> <img src="img/3.png" style="width:2.5%; height:2.5%"> </p>
        </div>
             
              <div class="item item-thumbnail-left item-text-wrap">
          <img src="img/inverse.png">
          <h2>INVERSE/FUNCTIONS </h2>
          <p>Review of Inverse Functions, which were covered before break.</p>
          <p> <img src="img/6.png" style="width:2.5%; height:2.5%"> </p>
                  </div>

 </div>

<div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Wednesday</div>
      <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/domran.png">
            <h2>INVERSE FUNCTIONS - DOMAIN AND RANGE </h2>
            <p>Finding the domain and range (codomain) of inverse functions and evaluating whether a function has an inverse that is ALSO a function.</p>
            <p> <img src="img/6.png" style="width:2.5%; height:2.5%"> </p>
        </div>

 </div>



<div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Thursday</div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/inverse.png">
            <h2>END OF INVERSE FUNCTIONS</h2>
            <p>Quick quiz (possible scan) on inverse functions, domain, and range, to end unit. </p>
           <img src="img/3.png" style="width:2.5%; height:2.5%"> <img src="img/6.png" style="width:2.5%; height:2.5%"> 
        </div>
         </div>



  <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Friday</div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/hyperbola.gif">
            <h2>INTRODUCTION TO RATIONAL FUNCTIONS</h2>
            <p>Introduction to the rational functions unit.</p>
            <img src="img/3.png" style="width:2.5%; height:2.5%"> <img src="img/6.png" style="width:2.5%; height:2.5%"> 
        </div>
    </div>
  </ion-content>
</ion-view>
